#header {
	width:1200px;
	height:185px;
	margin:0px auto;
}

#logo {
	margin-top:30px;
}

#logo a img {
	width:274px;
	height:140px;	
	float:left;
}

#social {
	text-align:right;
	float:right;
}

#social ul {
	font-family: 'Oswald', sans-serif;
}

#social ul li {
	list-style-type:none;
	padding-bottom:15px;
}

#social ul li a {
	text-decoration:none;
	color:#ED666D;
}

#social ul li a img {
	width:40px;
	height:40px;
	padding-left:10px;
}
	
navigation {
	width:1200px;
	height:65px;
}

navigation ul {
	background:#FDF6A7;
	font-family: 'Francois One', sans-serif;
	text-align:center;
	font-size:22px;
	padding-top:20px;
	padding-bottom:20px;
}

navigation ul li {
	list-style-type:none;
	padding:75px; 
	display:inline;
	size:20px;
}

navigation ul li a {
	text-decoration:none;
	color:#000000;
}

#total {
	float:right;
	text-align:right;
	margin-top:40px;
	margin-right:-280px;
}

#checktotal {
	float:right;
	text-align:right;
	margin-top:-50px;
	margin-right:80px;
}

#banner {
	width:1200px;
	height:300px;
	margin:0px auto;
	padding:10px 0px 70px 30px;	
}

#content {
	width:1200px;
	height:100%;
	margin:0px auto;
	font-family: 'Francois One', sans-serif;
}

#costume-content {
	width:1200px;
	height:1000px;
	margin:0px auto;
	font-family: 'Francois One', sans-serif;
}

#cat-content {
	width:1200px;
	height:1000px;
	margin:0px auto;
	font-family:'Francois One', sans-serif;
}

#fairy-content {
	width:1200px;
	height:1200px;
	margin:0px auto;
	font-family:'Francois One', sans-serif;
}

#login-content {
	width:100px;
	height:500px;
	font-family: 'Oswald', sans-serif;
}

#productinfo {
	margin-left:600px;	
	margin-top:60px;
}



#productinfo h3 {
	color:green;	
}

#productinfo a {
	text-decoration:none;
}

#produtinfo p {
	font-size:18px;
}

#productinfo input {
	padding:8px;
	border-radius:5px;
	border-color:#9ADBF6;
	background:#ffffff;
}

#productinfo select {
	font-size:18px;
	border-color:#9ADBF6;
	border-radius:5px;
	padding:10px;
	margin-top:20px;
}

#productphoto img {
	float:left;
	height:470px;
	margin-left:80px;
	margin-top:70px;
}

#productinfo img {
	height:35px;
	width:35px;
	padding-right:15px;
}

#moreinfo {
	width:1200px;
	height:350px;
	margin-top:100px;
	font-family: 'Francois One', sans-serif;
}

#moreinfo ul {
	list-style-type:none;
}

#moreinfo ul li {
	display:inline;
	padding:15px;
}

#spotlights ul {
	list-style-type:none;
	font-family: 'Francois One', sans-serif;
	margin:0px auto;
	text-align:center;
	padding-bottom:50px;
}

#spotlights ul li {
	display:inline;	
	/*padding:0px 10px;*/
	position: relative; 
    width: 100%;
}

#shop {
	width:875px;
	height:100%;
	margin-right:45px;
	float:right;
}

#catspotlight {
	width:870px;
	height:	625px;
	margin:0px auto;
	text-align:center;
	margin-top: 5%;
}

#signup {
	float:left;
	background:#eeeeee;
	padding:20px 0px 150px 150px;
	width:340px;
	height:250px;
	border: 1px solid #dddddd;
	border-radius:25px;
	margin-left:100%;
}

#log-in {
	float:right;
	margin-right:-1100%;
	background:#eeeeee;
	padding:50px 100px 70px 120px;
	border: 1px solid #dddddd;
	border-radius:25px;
}

#costumes {
	width:870px;
	height:	1025px;
	margin:0px auto;
	text-align:center;
	margin-top: 5%;	
}


#summaryitem {
	width:1200px;
	height:210px;
}

#summaryitem img {
	float:left;
}

#summaryitem h3 {
	margin-left:200px;
}

#summaryitem p {
	margin-left:200px;
}


.lr a {
  /*font-family: 'Roboto', sans-serif;*/
  /*position: absolute;*/
  bottom: -15px;
  font-size:18px;
  color: #b99799;
  padding:20px 45px;
  margin: 0;
    background:linear-gradient(
      rgba(241, 112, 114, 0.18),
      rgba(241, 112, 114, 0.18)
    );
    text-decoration:none;
}

.lr a:hover {
	 background:linear-gradient(
      rgba(241, 112, 114, 0.75),
      rgba(241, 112, 114, 0.75)
    );
    
}

.module1 {
  background: /*linear-gradient(
      rgba(241, 112, 114, 0.18),
      rgba(241, 112, 114, 0.18)
    ),*/
    url('images/catspot1.png');
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 10px 0 0 60px;
  position: relative;
  float: left;
}

.module2 {
  background: /*linear-gradient(
      rgba(241, 112, 114, 0.18),
      rgba(241, 112, 114, 0.18)
    ),*/
    url('images/catspot2.png');
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 10px 0 0 150px;
  position: relative;
  float: left;
}

.module3 {
  background: /*linear-gradient(
      rgba(241, 112, 114, 0.18),
      rgba(241, 112, 114, 0.18)
    ),*/
    url('images/catspot3.png');
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 50px 0 0 60px;
  position: relative;
  float: left;
}

.module4 {
  background: /*linear-gradient(
      rgba(241, 112, 114, 0.18),
      rgba(241, 112, 114, 0.18)
    ),*/
    url('images/catspot4.png');
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 50px 0 0 150px;
  position: relative;
  float: left;
}

.module5 {
  background: /*linear-gradient(
      rgba(241, 112, 114, 0.18),
      rgba(241, 112, 114, 0.18)
    ),*/
    url('images/catspot4.png');
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 90px 0 0 60px;
  position: relative;
  float: left;
}

.module6 {
  background: /*linear-gradient(
      rgba(241, 112, 114, 0.18),
      rgba(241, 112, 114, 0.18)
    ),*/
    url('images/catspot4.png');
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 90px 0 0 150px;
  position: relative;
  float: left;
}

/* SUBCATEGORY STYLES */	
.cmodule1 {
  background: /*linear-gradient(
      rgba(241, 112, 114, 0.18),
      rgba(241, 112, 114, 0.18)
    ),*/
    url('images/astronaut.jpg');
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 10px 0 0 60px;
  position: relative;
  float: left;
}

.cmodule2 {
  background: /*linear-gradient(
      rgba(241, 112, 114, 0.18),
      rgba(241, 112, 114, 0.18)
    ),*/
    url('images/princess.jpg');
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 10px 0 0 150px;
  position: relative;
  float: left;
}

.cmodule3 {
  background: /*linear-gradient(
      rgba(241, 112, 114, 0.18),
      rgba(241, 112, 114, 0.18)
    ),*/
    url('images/fireman.jpg');
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 90px 0 0 60px;
  position: relative;
  float: left;
}

.cmodule4 {
  background: /*linear-gradient(
      rgba(241, 112, 114, 0.18),
      rgba(241, 112, 114, 0.18)
    ),*/
    url('images/unicorn.jpg');
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 90px 0 0 150px;
  position: relative;
  float: left;
}

.cmodule5 {
  background: /*linear-gradient(
      rgba(241, 112, 114, 0.18),
      rgba(241, 112, 114, 0.18)
    ),*/
    url('images/character.jpg');
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 90px 0 0 60px;
  position: relative;
  float: left;
}

.cmodule6 {
  background: /*linear-gradient(
      rgba(241, 112, 114, 0.18),
      rgba(241, 112, 114, 0.18)
    ),*/
    url('images/dinosaur.jpg');
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 90px 0 0 150px;
  position: relative;
  float: left;
}


#catbanner {
	background:url('images/catbanner.png');
	background-size: 870px 300px;
    background-repeat: no-repeat;
	width:870px;
	height:300px;
}

#banner-blip {
	float:right;
	margin-top:200px;
	margin-right:80px;
	opacity:0.9;
	background:#f16566;
	text-align:center;
	padding:15px;
}

#banner-blip a {
	font-family: 'Francois One', sans-serif;
	text-decoration:none;
	color:#fdf6a7;
	font-size:22px;
}

#sl-blip {
	float:right;
	margin-top:-90px;
	margin-right:80px;
	opacity:0.9;
	background:#f16566;
	text-align:center;
	padding:15px;
}

#sl-blip a {
	font-family: 'Francois One', sans-serif;
	text-decoration:none;
	color:#fdf6a7;
	font-size:22px;
}

#flex-blip {
	float:right;
	margin-top:-90px;
	margin-right:80px;
	opacity:0.9;
	background:#f16566;
	text-align:center;
	padding:15px;
}

#flex-blip a {
	font-family: 'Francois One', sans-serif;
	text-decoration:none;
	color:#fdf6a7;
	font-size:22px;
}

#spotlights ul li img {
	width:390px;
	height:330px;
}

#sidebar {
	width:185px;	
	float:left;
}

#customerinfo {
	width:1200px;
	height:1000px;
}

#shipping {
	width:500px;
	height:600px;
	margin-top:140px;
	margin-left:100px;
	float:left;
}

#billing {
	width:500px;
	height:600px;
	float:right;
}

#sidebar ul {
	list-style-type:none;	
	margin-top:0px;
	margin-right:-18px;
}

#sidebar ul li {
	background:#e0f3fa;	
	padding:10px 15px;
	text-align:right;
}

#sidebar ul li a{
	text-decoration:none;
	color:#000000;
	font-size:14px;
}

#princess ul li {
	float:left;
	list-style-type:none;
	text-align:center;
	display:inline;
	padding:15px;
}

#summary {
	width:1200px;
	margin:0px auto;
}

#filters {
	width:185px;
	height:800px;
	background:#e0f3fa;
	padding:10px 15px;
}

#filters h4 {
	background:#9cdbf6;
	height:30px;
	margin-top:-10px;
	margin-left:-15px;
	padding-left:15px;
	padding-top:15px;
	width:200px;
}
		
footer {
	width:100%;	
	text-align:center;
	margin:0px auto;
}

#sitemap {
	text-align:center;
	font-family: 'Francois One', sans-serif;
	background:#9ADBF6;
	padding-top:25px;
	padding-bottom:25px;
}

#sitemap ul {
	display:inline;	
}

#sitemap ul li {
	display:inline;
	padding:10px 30px;	
}

#sitemap ul li a{
	text-decoration:none;
	color:#000000;
}

#copy {
	height:50px;
	background:#DFF3FA;
	font-family: 'Francois One', sans-serif;
	padding-top:20px;
}

#copy p {
	text-align:center;	
}

#confirmation {
	width:1200px;
	height:140px;
	background:#99ff99;
	padding:10px 0px 30px 30px;
	color:#474747;	
}


/*    ACCORDIAN   */

button.accordion {
    background-color: #e0f3fa;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size:16px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #9cdbf6;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

div.panel ul li {
	list-style-type:none;
}

div.panel ul li a {
	text-decoration:none;
}

div.panel.show {
    display: block;
}